body {
    padding: 20px;
}

a, button {
    margin: 0 5px;
    cursor: pointer;
}

.NavBar {
    margin-bottom: 35px;
}

.navbar {
    float: right;
}

.jumbotron {
    /* margin-top: 120px; */
    background: url('jumbotronLogo.jpeg');
    text-align: center;
    background-repeat: no-repeat;
    background-position: 350px;
    /* background-attachment: fixed; */
}

